<?xml version="1.0" encoding="utf-8"?>
<configuration>
<appSettings>

  <add key="MediaServiceAccountKey" value="GJbRycmjv9lsEJx24AiOQGuPURYhOLAbHmTmcExGy1U=" />
  <add key="MediaServiceAccountName" value="rvdevmediaservicetest" />
  <add key="BlobConnectionString" value="DefaultEndpointsProtocol=https;AccountName=rvdevblobstoragetest;AccountKey=jkGSu7xgHBd9AAs88T77/J+sBzI3bvg0GpxvUR3fhDxTfOOlDHtKNCvlOWQ9MAWnv8sy+Uc6q5T0Ufh9V4LNmA==" />
  <add key="BlobContainerName" value="aricentvideoblobcontainer"/>
  <add key="StreamingUrlActiveDays" value="365"/>
  <add key="ReviewApiSubscriptionKey" value="f9db8e64c8e940ddbc39ec278dc32caa"/>
  <add key="ContentModeratorApiEndpoint" value="https://wabashcognitiveservices.azure-api.net"/>
  <add key="TeamId" value="amsteam" />
	
</appSettings>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.MediaServices.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.8.0.3" newVersion="3.8.0.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.MediaServices.Client.Common.BlobTransfer" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.8.0.3" newVersion="3.8.0.3" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
